@import url("./variables.css");
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.arrow {
  position: absolute;
  opacity: 0;
}

/* .carousel--item {
  width: 60vw;
  height: 100%;
} */

.carousel--item-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-three);
  padding: 10px;
  border-radius: 0 0 20px 20px;
  height: 50%;
}

.carousel--item-one {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-three);
  border-radius: 20px 20px 0 0;
  height: 50%;
  width: 100%;
}

.carousel--circle {
  width: 20px;
  height: 20px;
  background: var(--color-three);
  border-radius: 50%;
  margin: 10px 20px;
  cursor: pointer;
  transition: linear 0.4s all;
}

.carousel--circle:hover {
  background: var(--color-five);
  transition: linear 0.4s all;
}

.carousel--circle--active {
  background: var(--color-two);
}

.carousel__heading,
.carousel__description {
  position: absolute;
  opacity: 0;
}

/* medium */
@media screen and (min-width: 950px) {
  .carousel {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  /* .carousel--item {
  height: 80%;
} */
  .arrow {
    opacity: 1;
    color: var(--color-two);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    font-size: 6rem;
    transition: linear 0.4s all;
    padding: 100% 0 100% 0;
  }
  .arrow:hover {
    color: var(--color-three);
    transition: linear 0.4s all;
  }
  .arrow--left {
    left: 10px;
  }

  .arrow--right {
    right: 10px;
  }

  .carousel--item-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: var(--color-three);
    padding: 25px;
    border-radius: 0 20px 20px 0;
    height: 100%;
  }

  .carousel--item-one {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-three);
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    height: 100%;
  }
  .carousel__heading {
    position: absolute;
    background: white;
    opacity: 0.8;
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    top: 40%;
    text-align: center;
  }
  .carousel__description {
    position: absolute;
    position: absolute;
    background: white;
    opacity: 0.8;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
  }
}

/* large */
@media screen and (min-width: 1200px) {
}
