@import url("./variables.css");
.link {
  margin: 20px auto;
  cursor: pointer;
  color: var(--color-two);
  background: var(--color-three);
  padding: 10px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  transition: linear 0.4s all;
}
.link:hover {
  background: var(--color-five);
  color: var(--color-three);
  transition: linear 0.4s all;
}

.link-active {
  background: var(--color-two);
  color: var(--color-three);
}
