@import url("./variables.css");
.section {
  display: flex;
  flex-wrap: wrap;
}

.section--column {
  flex-direction: column;
  justify-content: center;
}

.section--column-center {
  align-items: center;
}

.section--center {
  justify-content: center;
  align-items: center;
}

.section--header {
  height: 100px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.section--footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--color-six);
  padding: 10px;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.section--quote {
  height: 200px;
  align-items: center;
  justify-content: center;
  background: var(--color-three);
}

.section--portfolio {
  background: var(--color-six);
  background-image: url("/images/background/dark_embroidery.png");
}

.section--about {
  background: var(--color-six);
  background-image: url("/images/background/dark_embroidery.png");
}

.section--contact {
  height: 1000px;
  align-items: center;
  justify-content: center;
}
.section--icons {
  background-image: url("/images/background/concrete_seamless.png");
}

.section--h-full {
  height: 100%;
}
.section--w-full {
  width: 100%;
}
.section--w-30,
.section--w-40,
.section--w-50,
.section--w-60,
.section--w-70,
.section--w-80,
.section--w-90 {
  width: 100%;
}

.section--responsive {
  flex-direction: column;
}
.section--w-400 {
  width: 400px;
}

.section--white {
  background: white;
}

.section--p-20 {
  padding: 20px;
}

.section--m-t-b-20 {
  margin: 20px 0 20px 0;
}

/* medium */
@media screen and (min-width: 800px) {
  .section--responsive {
    flex-direction: row;
  }
  .section--h-100 {
    height: 100px;
  }
  .section--about {
    height: 1000px;
  }
  .section--portfolio {
    height: 1000px;
    background: var(--color-six);
    background-image: url("/images/background/dark_embroidery.png");
  }
  .section--w-30 {
    width: 30%;
  }
  .section--w-40 {
    width: 40%;
  }

  .section--w-50 {
    width: 50%;
  }

  .section--w-60 {
    width: 60%;
  }
  .section--w-70 {
    width: 70%;
  }
  .section--w-80 {
    width: 80%;
  }
  .section--w-90 {
    width: 90%;
  }
  .section--m-10{
    margin: 10px;
  }
}

/* large */
@media screen and (min-width: 1200px) {
}
