@import url("./variables.css");
.section {
  display: flex;
  flex-wrap: wrap;
}

.section--column {
  flex-direction: column;
  justify-content: center;
}

.section--center {
  justify-content: center;
}

.section--header {
  height: 100px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.section--footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--color-six);
  padding: 10px;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.section--quote {
  height: 200px;
  align-items: center;
  justify-content: center;
  background: var(--color-three);
}

.section--portfolio {
  background: var(--color-six);
  background-image: url("/images/background/dark_embroidery.png");
}

.section--about {
  height: 1000px;
  background: var(--color-six);
  background-image: url("/images/background/dark_embroidery.png");
}

.section--contact {
  height: 500px;
  align-items: center;
  justify-content: center;
}
.section--icons {
  background-image: url("/images/background/concrete_seamless.png");
}

.section--h-full {
  height: 100%;
}
.section--w-full {
  width: 100%;
}
.section--w-80 {
  width: 80%;
}

.section--responsive {
  flex-direction: column;
}

/* medium */
@media screen and (min-width: 800px) {
  .section--responsive {
    flex-direction: row;
  }
  .section--h-100 {
  height: 100px;
}
.section--portfolio {
  height: 1000px;
  background: var(--color-six);
  background-image: url("/images/background/dark_embroidery.png");
}
}

/* large */
@media screen and (min-width: 1200px) {
}
