:root {
  --color-one: #333; /* background */
  --color-two: #000; /* Black */
  --color-three: #fff; /* white */
  --color-four: #0077b5; /* blue */
  --color-five: #caccce; /* lightGrey */
  --color-six: #86888a; /* dark Grey */
}
